.btn {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  background-color: #04AA6D;
  color: #ffffff;
  border-color: #04AA6D;
  cursor: pointer;
  height: 45px;
  margin: 40px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.span {
  margin: 40px;
}


@media (max-width: 900px) {
  .btn {
    height: 40px;
    margin: 10px;
  }
  .span {
    margin: 10px;
  }
  
}